<footer>
	<ul>
		<li>
			<a href="https://github.com/angiejwkim">
				<i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
			</a>
		</li>
		<li>
			<a href="mailto:angiejwkim@gmail.com">
				<i class="fa fa-envelope" aria-hidden="true" title="Email"></i>
			</a>
		</li>
		<li>
			<a href="http://twitter.com/angiejwkim">
				<i class="fa fa-twitter-square" aria-hidden="true" title="Twitter"></i>
			</a>
		</li>
		<li>
			<a href="http://linkedin.com/in/angiejwkim">
				<i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn"></i>
			</a>
		</li>
	</ul>
</footer>