$content-width: 850px;
$main: #B1BCA5;
$font-style: 'Lato', sans-serif;
$font-color: #262626;
$link-color: #474D41;
$link-hover-color: $main;
$heading-font: 'Lato', sans-serif;
$heading-font-color: #474D41;
$light: #E7EDF4;
$header:  #65adce;
$footer-height: 60px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
