$content-width: 850px;
$main: #fcffff;
$font-style: 'Roboto Mono', sans-serif;
$font-color: #fcffff;
$link-color: $main;
$link-hover-color: $main;
$heading-font: 'Roboto Mono', sans-serif;
$heading-font-color: #fcffff;
$light: #E7EDF4;
$header:  #65adce;
$footer-height: 60px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
