html, body {
	/* Positions footer at bottom of content or page */
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	background-color: #121527;
}


.wrapper {
	/* Positions footer at bottom of content or page */
	min-height:100%;
   	position:relative;
}

// Home Page Material

#landing {
	height: 70vh;
	text-align: center;
	padding-top: 3em;

	h1, h2 {
		line-height: 0.5;
	}
}

// Heading Styles

h1,
h2 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

h3 {
	font-weight: 300;
}

h1 {
	font-size: 4em;
	a,
	a:visited {
		text-decoration: none;
	}
}

h2 {
	font-size: 1.8em;
}

// Links

a,
a:visited {
	color: $link-color;
	text-decoration: underline; 
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

// Site Title and Navigation Bar

header {
	/* Positions footer at bottom of content or page */
	padding: 1em 0;

	ul { margin: 0; }

	li {
		list-style: none;
	}

	a {
			text-decoration: none;
	}

	.nav-bar {
		/* makes the parent container for the entire navigation bar */
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-left: 0;

	}

	.title {
		/* creates the child box for the title */
		display: flex;
		padding-left: 1.4em;
			#logo {
				align-items: left;
			}
	}

	.link-bar {
		/* creates the child box that holds the navigation's links,
		   also creates parent container for all links */
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
		padding: 0 1em 0 0;

		.link {
			padding-right: 1.4em;
		}

	}
}

main {
	padding: 0 15px;
	max-width: $content-width;

	/* Positions footer at bottom of content or page */
	margin: auto;
	padding-bottom: $footer-height; 
}

time {
	color: #898989;
}

#container {
	display: grid;
	align-self: center;
	margin-top: 20em;
	padding: 3em;
	text-align: center;
	max-width: $content-width;
	margin: 0 auto;
	border: 2px solid white;
}

.video {
	text-align: center;
	padding: 10px;
}

// Footer

footer {
	display: flex;
	justify-content: center;
	
	/* Positions footer at bottom of content or page */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height; 

	height: 3em;
	font-size: 1em;

	.fa {
  	color: #fcffff;
	}

	a {
		text-decoration: none;
	}

	ul {
		display: inline;
		list-style: none;
		padding: 0;
		li {
			display: inline;
			padding: 5px;
		}
	}
}
